.footer-logo{
    height: 35px;
    width:  35px;
}
.footer-logo-group {
    text-align: center;
}
.footer-para{
    text-align: center;
}
.footer-logo{
    margin: 20px;
}
.footer{
    padding: 40px 0;
    background-color: whitesmoke;
}